body{
  background: white;
  padding: 2rem;
  background: #E3350D;
}

main{
  background: #ffffff;
  border-radius: 2rem;
  padding: 4rem;
}

.search__label{
  font-weight: 600;
  font-size: 2rem;
}

.search__wrapper{
  display: flex;
  gap: 2rem;
  width: 100%;
}


.search__input{
  height: 2rem;
  width: 48%;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.search__error{
  color: #E3350D;
}

.search__button{
  background: linear-gradient(to right, #E3350D, #EE6C2F);
  border: none;
  color: #ffffff;
  width: 12rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.search__button:hover{
  cursor: pointer;
}

.mainSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  
}
.title{
  text-transform: uppercase;
}


.spriteSec{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #F2F2F2;
  border-radius: 2rem;
}
.sprite{
  width: 100%;
  height: 100%;
}

.spriteImg{
  width: 100%;
  height: 100%;
}
.type{
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.types__sec{
  display: flex;
  gap: 1rem;
}
.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.electric {
  background-color: #f8d030;
}

.grass {
  background-color: #78c850;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.dragon {
  background-color: #7038f8;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #ee99ac;
}


.stat{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.stat__card{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftSection{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}